{{> page/head_nav}}
 {{!-- {{> page/sidenavigation}} --}}
 {{#if userType}}
   {{> instructor_page/sidenavigation}}
{{else}}
 {{> page/sidenavigation}}
{{/if}}

<link rel="stylesheet" href="/public/css/course_card.css" />
<div class="main_content">
        <div class="header">{{title}}</div>
        <div class="info">
         <span style="color: red;"> {{error_msg}} </span>
          {{!-- <div>Welcome to the new "Online Course Website". This will be your platform to all the tutorials we offer and your learning progress.
           If you are new to online course, we recommend you to start with our <b>html</b> tutorial.
          </div> --}}

          <div> 
            {{#each enrolled}}



              <div class="card">
          
              <div class="card-header">{{this.courseTitle}} ({{this.courseId}})</div>
              <div class="card-body">{{this.courseDescription}}</div>
            {{!-- <ul>
              {{#each this.courseResourse}}
                <li >{{this}}</li>
              {{/each}}
              </ul> --}}
              
              <div class="card-footer">


                
                    <button class="btn"> <a href="/readCourse/{{this._id}}">Read Course</a></button>

                <form action="/unenroll_course" method="post">
                <input id= "userId" name="userId" type="text" value="{{this._id}}" hidden/>
                <input id= "courseId" name="courseId" type="text" value="{{this.courseId}}" hidden/>
                <button type="submit" class="btn btn-outline">Unenroll Course</button>
              </form>
              </div>
            </div>
          {{/each}}
</div>
          
        </div>
      </div>





